In [ ]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
import scipy as sp  
import seaborn as sns
from plotly import express as px
from plotly.subplots import make_subplots
import plotly.graph_objs as go

In [ ]:
df = pd.read_csv(r'C:\Users\willy\OneDrive\Documents\flash2\RANDOM\Pandas class\heroes\Heroes_edit.csv')

df

In [ ]:
df.head()

In [5]:
df.shape

(681, 12)

In [6]:
df.head()

,Name,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
0,A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
1,Abraxas,Abraxas,Within Eternity,Marvel Comics,NaN,NaN,M,NaN,Blue,Black,100.0,high
2,Abomination,Emil Blonsky,"Zagreb, Yugoslavia",Marvel Comics,203.04,441.98,M,NaN,Green,No Hair,80.0,good
3,Adam Monroe,NaN,NaN,NBC - Heroes,NaN,NaN,M,NaN,Blue,Blond,10.0,good
4,Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN

In [7]:
df.dtypes

Name                 object
Identity             object
Birth place          object
Publisher            object
Height              float64
Weight              float64
Gender               object
First appearance    float64
Eye color            object
Hair color           object
Strength            float64
Intelligence         object
dtype: object

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 681 entries, 0 to 680
Data columns (total 12 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   Name              681 non-null    object
 1   Identity          581 non-null    object
 2   Birth place       276 non-null    object
 3   Publisher         670 non-null    object
 4   Height            478 non-null    float64
 5   Weight            461 non-null    float64
 6   Gender            654 non-null    object
 7   First appearance  341 non-null    float64
 8   Eye color         520 non-null    object
 9   Hair color        521 non-null    object
 10  Strength          563 non-null    float64
 11  Intelligence      563 non-null    object
dtypes: float64(4), object(8)
memory usage: 64.0+ KB

In [9]:
df.isnull().sum()

Name                  0
Identity            100
Birth place         405
Publisher            11
Height              203
Weight              220
Gender               27
First appearance    340
Eye color           161
Hair color          160
Strength            118
Intelligence        118
dtype: int64

In [10]:
df.duplicated(subset = ['Name'], keep = 'last')

0      False
1      False
2      False
3      False
4      False
       ...
676    False
677    False
678    False
679    False
680    False
Length: 681, dtype: bool

In [11]:
df.replace(to_replace = '-', value = 'other', inplace = True)
df.head()

,Name,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
0,A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
1,Abraxas,Abraxas,Within Eternity,Marvel Comics,NaN,NaN,M,NaN,Blue,Black,100.0,high
2,Abomination,Emil Blonsky,"Zagreb, Yugoslavia",Marvel Comics,203.04,441.98,M,NaN,Green,No Hair,80.0,good
3,Adam Monroe,NaN,NaN,NBC - Heroes,NaN,NaN,M,NaN,Blue,Blond,10.0,good
4,Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN

In [12]:
df['Publisher'].fillna('other', inplace = True)
df.head()

,Name,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
0,A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
1,Abraxas,Abraxas,Within Eternity,Marvel Comics,NaN,NaN,M,NaN,Blue,Black,100.0,high
2,Abomination,Emil Blonsky,"Zagreb, Yugoslavia",Marvel Comics,203.04,441.98,M,NaN,Green,No Hair,80.0,good
3,Adam Monroe,NaN,NaN,NBC - Heroes,NaN,NaN,M,NaN,Blue,Blond,10.0,good
4,Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN

In [13]:
df  = df * 1
df.head(10)

,Name,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
0,A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
1,Abraxas,Abraxas,Within Eternity,Marvel Comics,NaN,NaN,M,NaN,Blue,Black,100.0,high
2,Abomination,Emil Blonsky,"Zagreb, Yugoslavia",Marvel Comics,203.04,441.98,M,NaN,Green,No Hair,80.0,good
3,Adam Monroe,NaN,NaN,NBC - Heroes,NaN,NaN,M,NaN,Blue,Blond,10.0,good
4,Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN
5,Agent Bob,Bob,NaN,Marvel Comics,178.25,81.45,M,2007.0,Brown,Brown,10.0,low
6,Abe Sapien,Abraham Sapien,NaN,Dark Horse Comics,191.24,65.35,M,1993.0,Blue,No Hair,30.0,high
7,Abin Sur,NaN,Ungara,DC Comics,185.52,90.90,M,1959.0,Blue,No Hair,90.0,average
8,Angela,NaN,NaN,Image Comics,NaN,NaN,F,NaN,NaN,NaN,100.0,high
9,Animal Man,Bernhard Baker,NaN,DC Comics,183.80,83.39,M,1965.0,Blue,Blond,50.0,average

In [14]:
df.columns

Index(['Name', 'Identity', 'Birth place', 'Publisher', 'Height', 'Weight',
       'Gender', 'First appearance', 'Eye color', 'Hair color', 'Strength',
       'Intelligence'],
      dtype='object')

In [15]:
df.sort_values(by = ['Strength'], ascending = (False))

,Name,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
0,A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
505,Darkseid,Uxas,NaN,DC Comics,267.37,817.57,M,1970.0,Red,No Hair,100.0,high
101,Superboy-Prime,Kal-El,Krypton (Earth-Prime),DC Comics,180.55,77.41,M,1985.0,Blue,Black / Blue,100.0,high
100,Supergirl,Kara Zor-El,"Argo City, Krypton",DC Comics,165.40,54.80,F,2004.0,Blue,Blond,100.0,high
98,Thor,Thor Odinson,Asgard,Marvel Comics,198.35,288.61,M,1962.0,Blue,Blond,100.0,good
...,...,...,...,...,...,...,...,...,...,...,...,...
650,Arsenal,"Roy William Harper, Jr.",NaN,DC Comics,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN
658,Atom III,Adam Cray,NaN,DC Comics,NaN,NaN,M,NaN,NaN,Red,NaN,NaN
668,Ammo,NaN,NaN,Marvel Comics,188.93,101.09,M,1988.0,Brown,Black,NaN,NaN
671,Allan Quatermain,NaN,NaN,Wildstorm,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN
674,Ando Masahashi,Ando Masahashi,NaN,NBC - Heroes,NaN,NaN,M,NaN,NaN,NaN,NaN,NaN

In [16]:
num_rows, num_columns = df.shape

# Print the results
print(f"Number of Rows: {num_rows}")
print(f"Number of Columns: {num_columns}")

Number of Rows: 681
Number of Columns: 12

In [17]:
df.replace(to_replace = '-', value = 'other', inplace = True)
df.head()

,Name,Identity,Birth place,Publisher,Height,Weight,Gender,First appearance,Eye color,Hair color,Strength,Intelligence
0,A-Bomb,Richard Milhouse Jones,"Scarsdale, Arizona",Marvel Comics,203.21,441.95,M,2008.0,Yellow,No Hair,100.0,moderate
1,Abraxas,Abraxas,Within Eternity,Marvel Comics,NaN,NaN,M,NaN,Blue,Black,100.0,high
2,Abomination,Emil Blonsky,"Zagreb, Yugoslavia",Marvel Comics,203.04,441.98,M,NaN,Green,No Hair,80.0,good
3,Adam Monroe,NaN,NaN,NBC - Heroes,NaN,NaN,M,NaN,Blue,Blond,10.0,good
4,Agent 13,Sharon Carter,NaN,Marvel Comics,173.41,61.03,F,NaN,Blue,Blond,NaN,NaN